body{
  background-color: #66bfbf;
}

.the_note{
  display: flex;
  justify-content: center;
}

.create_note{
  background-color: aliceblue;
  width: 350px;
  height: 240px;
  position: relative;
  box-shadow: 2px 4px 3px 3px rgb(196, 196, 196);
  display: flex;
  align-items: center;
  flex-flow: column;
}

.plus_sign{
  position: absolute;
  margin: 61% 0 0 98%;
  background-color: black;
  color: aliceblue;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
}

.tile{
  /* border-style: none; */
  width: 90%;

}

.content{
  width: 90%;
}

.myNotes{
  background-color: whitesmoke;
  display: inline-block;
  width: 250px;
  height: 240px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
  margin-left: 40px;
  padding: 5px;
}

.dlt_btn{
  border-radius: 50%;
  position: absolute;
  margin: 6% 13%;
  
}

.plus_sign:hover{
  background-color: #c4c1e0;
  color: black;
}

.mybody{
  display: flex;
  flex-direction: row;
}

footer{
  background-color: aliceblue;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30%;
}